* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color:white;
  margin: 0;
  padding: 0;


}

.container {
  display: flex;
  width: 100%;
  height: 100vh;

}
.card {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

}


.login-form input {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-family:'Baloo Bhaina';
  font-style: normal;
  font-weight: 500px;
  font-size: 20px;
  line-height: 24px;
}

.input-area {
  display: flex;
  border: 1px solid #00A859;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 10px;
}

.input-area input {
  border: none;
  outline-style: none;
  
}

.input-area img {
  height: 25px;
  margin-left: 10px;
}

#btn-entrar {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 50px; 
  margin-top: 10PX;
  font-size: 15px;
 
}

#btn-entrar:hover {
  background-color: #45a049;
  left: 10px;
}

#btn-cadastrar {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

#btn-cadastrar:hover {
  background-color: #0056b3;
}

#img-fazenda{
margin: 10px;
}

